:root {
  --font-family: "Montserrat", sans-serif;
  --content-width: 1060px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #000;
  --purple: #937dd1;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: currentcolor;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

@-webkit-keyframes info {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes info {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #000;
}

.title--divider span {
  position: relative;
}
.title--divider span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100vw;
  height: 2px;
  background-color: #000;
}

.title--divider-right span::after {
  left: 0;
}

.title--divider-left span::after {
  right: 0;
}

@media (max-width: 1024px) {
  .title {
    font-size: 28px;
    line-height: 24px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 20px;
  }
}
.info {
  position: relative;
  z-index: 1000;
  height: 72px;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  background: #7a9fff;
}
.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  margin: 0;
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
  color: #ffffff;
}
.info-text p {
  margin: 0 30px 0 0;
  -webkit-animation: 30s info infinite;
  animation: 30s info infinite;
}

@media (max-width: 768px) {
  .info {
    height: 30px;
    padding: 8px 0;
  }
  .info-text {
    font-size: 11px;
    line-height: 13px;
  }
  .info-text p {
    margin: 0 15px 0 0;
  }
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  z-index: 2;
  padding: 54px 0;
}

.header__wrapper {
  --container-width: 1187px;
}

.header__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
}

.menu--active {
  position: fixed;
  left: 0;
  right: 0;
  top: 72px;
  bottom: 0;
  z-index: 10;
  padding-top: 55px;
  padding-right: 45px;
  background: #b8e9f5;
  height: 75%;
}
.menu--active .header__menu-item {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 25px;
  line-height: 21px;
  color: #000000;
}

.menu--active .header__layout {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "logo burger" "menu menu" "social social";
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: min-content 40px min-content 40px min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  row-gap: 40px;
  width: 100%;
  height: 100%;
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  grid-area: logo;
  border-radius: 18px;
  width: 111px;
  height: 111px;
  background-image: url("../../img/site-logo.png");
  background-size: 52px 85px;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 29px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 0 29px rgba(0, 0, 0, 0.1));
}

.header__menu-nav-tablet {
  display: none;
}

.header__menu-nav {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: menu;
  margin: 0 70px;
  width: 100%;
  max-width: 840px;
}

.menu--active .header__menu-nav {
  display: block;
  margin: 0;
}

.header__menu-close {
  display: none;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-color);
}

.menu--active .header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header__menu-item:not(:last-of-type) {
  margin-right: 25px;
}

.header__social {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: social;
}

.menu--active .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social-link {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
}
.header__social-link:not(:last-of-type) {
  margin-right: 16px;
}

.header__social-link--inst {
  background-image: url("../../img/icon-inst.png");
}

.header__social-link--tg {
  background-image: url("../../img/icon-telegram.png");
}

.header__burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 3px;
  --burger-line-radius: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: white;
  background-color: transparent;
  cursor: pointer;
  display: none;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: auto;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  border-radius: var(--burger-line-radius);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header__burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: var(--burger-line-radius);
}
.header__burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header__burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header__burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .header__burger {
    display: inline-block;
  }

  .header__layout {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .header__menu-nav-tablet {
    position: absolute;
    z-index: 1000;
    display: block;
  }

  .header__menu-nav {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__logo {
    margin-right: 40px;
  }

  .menu--active {
    padding-top: 54px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .header {
    top: 30px;
  }

  .menu--active {
    top: 30px;
  }
}
@media (max-width: 576px) {
  .header {
    top: 30px;
    padding: 25px 0;
  }

  .menu--active {
    top: 0;
    height: 50%;
    padding-top: 55px;
  }
  .menu--active .header__menu-item {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
  }

  .header__logo {
    margin-right: 0;
    width: 55px;
    height: 55px;
    background-size: 25px 42px;
  }
}
.hero {
  position: relative;
  padding-bottom: 200px;
}

.hero__wrapper {
  padding-top: 220px;
  background-image: url("../../img/hero-bg.png");
  background-position: bottom right;
  background-size: 487px 487px;
  background-repeat: no-repeat;
}

.circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.circle--blue {
  left: -40%;
  top: -20%;
  width: 588px;
  height: 588px;
  background: #72d0f2;
  -webkit-filter: blur(300px);
  filter: blur(300px);
}

.circle--pink {
  right: -40%;
  top: 0;
  width: 588px;
  height: 588px;
  background: #dfb3ca;
  -webkit-filter: blur(300px);
  filter: blur(300px);
}

.circle--purple {
  left: 40%;
  bottom: -40%;
  width: 588px;
  height: 588px;
  background: #937dd1;
  -webkit-filter: blur(150px);
  filter: blur(150px);
}

.hero__content {
  margin-bottom: 35px;
  max-width: 516px;
}

.hero__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}

.hero__paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000;
}
.hero__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}

.hero__paragraph-bold {
  font-weight: 700;
}

.hero__button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 76px;
  padding: 15px 33px;
  -webkit-box-shadow: 0 0 8px #dfb3ca;
  box-shadow: 0 0 8px #dfb3ca;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#dfb3ca), to(#937dd1));
  background: -o-linear-gradient(left, #dfb3ca 0%, #937dd1 100%);
  background: linear-gradient(90deg, #dfb3ca 0%, #937dd1 100%);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hero__wrapper {
    background-size: 300px 300px;
  }
}
@media (max-width: 768px) {
  .hero__wrapper {
    background-image: none;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-bottom: 80px;
  }

  .hero__wrapper {
    padding-top: 105px;
  }

  .hero__content {
    margin-bottom: 25px;
    max-width: none;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
  }

  .hero__paragraph {
    font-size: 14px;
    line-height: 17px;
  }
  .hero__paragraph:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .hero__button {
    padding: 12px 26px;
    font-size: 14px;
    line-height: 17px;
  }

  .circle--blue {
    left: auto;
    right: -30%;
    top: -50%;
    -webkit-filter: blur(120px);
    filter: blur(120px);
  }

  .circle--purple {
    left: 10%;
    bottom: -67%;
  }
}
.unique {
  position: relative;
  border-radius: 30px;
  padding: 50px 0 90px;
  -webkit-box-shadow: 0 4px 37px rgba(147, 125, 209, 0.19);
  box-shadow: 0 4px 37px rgba(147, 125, 209, 0.19);
  background: #fff;
}
.unique-bulb {
  position: absolute;
  left: 77px;
  top: -120px;
  z-index: 1;
  width: 257px;
  height: 257px;
}
.unique-divider {
  margin: 10px 0 0 28%;
}

.information-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 80px auto;
  -ms-grid-columns: 1fr 75px 1fr 75px 1fr;
  grid-template: auto auto/repeat(3, 1fr);
  margin-top: 70px;
  gap: 80px 75px;
}
.information-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.information__img {
  width: 154px;
  height: 154px;
}
.information__title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
}
.information__descr {
  margin-top: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.purple-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 15px;
  padding: 51px 57px;
  width: 340px;
  height: 292px;
  background-color: #937dd1;
}
.purple-box__descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 1240px) {
  .unique-bulb {
    left: 0;
  }
}
@media (max-width: 1024px) {
  .unique-bulb {
    top: -90px;
    width: 190px;
    height: 190px;
  }

  .information-wrapper {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr 1fr;
    grid-template: auto auto/1fr 1fr;
  }
}
@media (max-width: 768px) {
  .unique {
    padding-bottom: 20px;
  }
  .unique-bulb {
    left: -5px;
    top: -55px;
    width: 124px;
    height: 124px;
  }
  .unique-divider {
    margin: 10px 0 0 6%;
  }

  .information-wrapper {
    place-items: center;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    margin-top: 40px;
    row-gap: 27px;
  }
  .information-card {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .information__img {
    width: 129px;
    height: 129px;
  }
  .information__title {
    font-size: 18px;
  }
  .information__descr {
    font-size: 14px;
    text-align: center;
  }

  .purple-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px;
    width: 320px;
    height: 124px;
  }
  .purple-box__img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 34px;
    height: 34px;
  }
  .purple-box__descr {
    font-size: 14px;
    line-height: 17px;
  }
}
.about {
  padding: 118px 0 32px 0;
  position: relative;
}
.about-circle-purple {
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -470px;
  width: 878px;
  height: 879.02px;
  background: #937dd1;
  -webkit-filter: blur(300px);
  filter: blur(300px);
}
.about-circle-pink {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 588px;
  height: 588px;
  background: #dfb3ca;
  -webkit-filter: blur(300px);
  filter: blur(300px);
}
.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 570px auto;
  grid-template-columns: 570px auto;
  text-align: left;
}
.about-information {
  padding-bottom: 30px;
}
.about-img {
  height: 100%;
  width: 100%;
}
.about-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}
.about-subtitle {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.about-subtitle-min {
  display: none;
}
.about-descr:not(:last-of-type) {
  margin-bottom: 27px;
}
.about-descr p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.about-descr p:last-child {
  margin-bottom: 0;
}
.about-descr-min {
  display: none;
}
.about-descr:first-child() {
  margin-bottom: 27px;
}
.about-btn {
  margin-top: 40px;
  padding: 12px 39px;
  background: -webkit-gradient(linear, left top, right top, from(#dfb3ca), to(#937dd1));
  background: -o-linear-gradient(left, #dfb3ca 0%, #937dd1 100%);
  background: linear-gradient(90deg, #dfb3ca 0%, #937dd1 100%);
  border-radius: 115px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1130px) {
  .about-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: 7px;
    padding-bottom: 0px;
  }
  .about-circle-purple {
    top: 250px;
    left: 50%;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    right: -470px;
    width: 458px;
    height: 458px;
  }
  .about-circle-pink {
    display: none;
  }
  .about-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .about-information {
    padding: 20px;
    margin-top: -20px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
  }
  .about-title {
    display: none;
  }
  .about-subtitle {
    font-size: 20px;
  }
  .about-btn {
    margin-top: 25px;
  }
}
@media (max-width: 576px) {
  .about-container {
    padding: 0 15px;
  }
  .about-circle-purple {
    top: 30px;
    -webkit-filter: blur(120px);
    filter: blur(120px);
  }
  .about-information {
    padding: 35px 29px 30px;
    width: 300px;
    border-radius: 15px;
  }
  .about-subtitle {
    display: none;
  }
  .about-subtitle-min {
    margin-bottom: 20px;
    display: block;
    background: rgba(122, 228, 255, 0.4);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
  }
  .about-descr-min {
    display: inline;
  }
  .about-descr-min-hide {
    display: none;
  }
  .about-descr p {
    font-size: 14px;
    line-height: 17px;
  }
  .about-btn {
    padding: 10px 32px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
}
.charity {
  min-height: 460px;
  position: relative;
}
.charity-circle-blue {
  position: absolute;
  z-index: 2;
  right: -100px;
  bottom: -190px;
  background: #72d0f2;
  -webkit-filter: blur(130px);
  filter: blur(130px);
  -webkit-transform: rotate(-165deg);
  -ms-transform: rotate(-165deg);
  transform: rotate(-165deg);
  border-radius: 100%;
  width: 588px;
  height: 588px;
}
.charity-wrapper {
  padding: 45px 140px 60px 100px;
  width: 1000px;
  height: 444px;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 26px rgba(147, 125, 209, 0.19);
  box-shadow: 0px 4px 26px rgba(147, 125, 209, 0.19);
  border-radius: 30px;
}
.charity-title {
  text-align: left;
}
.charity-information {
  margin-top: 90px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.charity-information span {
  font-weight: 700;
  padding: 3px;
  border-radius: 72px;
}
.charity-information span:first-child {
  background: rgba(223, 179, 202, 0.4);
}
.charity-information span:nth-child(2n) {
  background: rgba(122, 228, 255, 0.4);
}
.charity-information span:last-child {
  background: #cdb7ff;
}

@media (max-width: 1440px) {
  .charity-circle-blue {
    right: -450px;
  }
}
@media (max-width: 1024px) {
  .charity {
    min-height: 420px;
  }
  .charity-circle-blue {
    z-index: 0;
    left: 0;
    bottom: -40px;
    width: 300px;
    height: 300px;
    -webkit-filter: blur(76px);
    filter: blur(76px);
  }
  .charity-wrapper {
    width: 90%;
    padding: 45px 50px 60px;
  }
}
@media (max-width: 768px) {
  .charity {
    min-height: 250px;
  }
  .charity-circle-blue {
    z-index: -1;
    left: -280px;
    bottom: 79px;
    width: 458px;
    height: 458px;
    -webkit-filter: blur(220px);
    filter: blur(220px);
  }
  .charity-wrapper {
    width: 100%;
    height: auto;
    padding: 25px 25px 0 25px;
    position: static;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    text-align: center;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .charity-information {
    margin-top: 27px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .charity-information span {
    font-size: 16px;
    line-height: 20px;
  }
  .charity-information span:first-child {
    background: #fff;
  }
  .charity-information span:nth-child(2n) {
    background-color: #fff;
  }
  .charity-information span:last-child {
    background: #cdb7ff;
  }
  .charity-title {
    text-align: center;
  }
}
.program {
  position: relative;
  padding-bottom: 60px;
}
.program-twirl {
  position: absolute;
  top: -337px;
  right: 22px;
  width: 292px;
  height: 289px;
  z-index: 10;
}
.program-title {
  margin-left: 110px;
}
.program-wrapper {
  position: relative;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template: auto auto/1fr 1fr;
  gap: 20px;
}
.program-card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: #fff;
  -webkit-box-shadow: 0px 0px 27px rgba(147, 125, 209, 0.4);
  box-shadow: 0px 0px 27px rgba(147, 125, 209, 0.4);
  border-radius: 26px;
}
.program-card-wrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[2];
  grid-template-columns: repeat(2, 100%);
}
.program-card-top {
  z-index: 2;
}
.program-info {
  width: 100%;
  padding: 60px 75px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.program-info_active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.program-info__header {
  margin-top: 80px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}
.program-info__button {
  margin-top: 20px;
  border: none;
  background: #fff;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  cursor: pointer;
}
.program-list {
  position: relative;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  padding: 60px 50px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-weight: 600;
}
.program-list_active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.program-list-header {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.program-list li {
  font-size: 16px;
  line-height: 26px;
}
.program-list li:not(:last-of-type) {
  margin-bottom: 5px;
}
.program-list li:first-child {
  margin-top: 20px;
}
.program-list__button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: none;
  background: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  cursor: pointer;
}
.program-cylinder {
  position: absolute;
  bottom: 296px;
  left: -194px;
  width: 352px;
  height: 355px;
  z-index: 1;
}
.program-alert {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.program-alert-text {
  width: 400px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: right;
}
.program-alert img {
  margin-left: 35px;
}

@media (max-width: 1024px) {
  .program {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .program-twirl {
    display: none;
  }
  .program-cylinder {
    display: none;
  }
  .program-wrapper {
    margin-top: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .program-card {
    padding: 35px 20px 80px;
  }
  .program-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    color: #000000;
    text-align: center;
  }
  .program-info__header {
    margin-top: 35px;
    font-size: 18px;
    line-height: 22px;
  }
  .program-info__button {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .program-list {
    padding: 30px 10px 0;
  }
  .program-list-header {
    font-size: 18px;
    line-height: 22px;
  }
  .program-list li {
    font-size: 14px;
    line-height: 19px;
  }
  .program-list__button {
    bottom: -10px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .program-title {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .program-wrapper {
    margin-top: 30px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 15px;
  }
  .program-list__button {
    bottom: -20px;
  }
  .program-alert {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .program-alert-text {
    width: 230px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .program-alert img {
    width: 32px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
.speakers {
  padding: 120px 0 100px;
  background: #000;
}
.speakers-title {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #ffffff;
}
.speakers-wrapper {
  margin-top: 96px;
  display: -ms-grid;
  display: grid;
  grid-template: auto auto/repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px 80px;
}
.speakers-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}
.speakers-card-title {
  margin-top: 95px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.speakers-card-descr {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.speakers-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 57px #dfb3ca;
  box-shadow: 0px 0px 57px #dfb3ca;
  overflow: hidden;
}
.speakers-img img {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

@media (max-width: 576px) {
  .speakers {
    padding: 50px 0 90px;
  }
  .speakers-wrapper {
    margin-top: 45px;
    grid-template: auto auto/repeat(auto-fill, minmax(100px, 1fr));
    gap: 60px 40px;
  }
  .speakers-img {
    width: 100px;
    height: 100px;
  }
  .speakers-card-title {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .speakers-card-descr {
    font-size: 12px;
    line-height: 15px;
  }
}
.reasons {
  position: relative;
  padding: 85px 0 65px;
}
.reasons-title {
  text-align: left;
}
.reasons-wrapper {
  margin-top: 80px;
  padding: 0 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 150px;
  -moz-column-gap: 150px;
  column-gap: 150px;
}
.reasons-circle-purple {
  position: absolute;
  z-index: -1;
  width: 588px;
  height: 588px;
  top: -183px;
  right: -105px;
  background: #937dd1;
  -webkit-filter: blur(220px);
  filter: blur(220px);
}
.reasons-circle-blue {
  position: absolute;
  z-index: -1;
  width: 588px;
  height: 588px;
  left: -286px;
  bottom: -457px;
  background: #66e6ff;
  -webkit-filter: blur(220px);
  filter: blur(220px);
}
.reasons-if span {
  padding: 5px;
  background: rgba(147, 125, 209, 0.4);
  border-radius: 76px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.reasons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  margin-bottom: 45px;
}
.reasons-item-icon {
  margin-right: 40px;
  width: 35px;
  height: 35px;
}
.reasons-item-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.reasons-button {
  display: block;
  margin: 36px auto 0;
  padding: 20px 60px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 76px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .reasons {
    overflow: hidden;
    padding: 50px 0;
  }
  .reasons-wrapper {
    margin-top: 25px;
    padding: 0;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .reasons-circle-purple {
    width: 525px;
    height: 525px;
    left: -286px;
    left: 120px;
    top: 325px;
    -webkit-filter: blur(130px);
    filter: blur(130px);
  }
  .reasons-circle-blue {
    width: 458px;
    height: 458px;
    left: -224px;
    top: -264px;
    -webkit-filter: blur(120px);
    filter: blur(120px);
  }
  .reasons-if {
    margin-bottom: 30px;
  }
  .reasons-if span {
    font-size: 18px;
    line-height: 22px;
  }
  .reasons-item {
    margin-bottom: 25px;
  }
  .reasons-item-icon {
    margin-right: 25px;
    width: 21px;
    height: 21px;
  }
  .reasons-item-info {
    font-size: 14px;
    line-height: 17px;
  }
  .reasons-button {
    margin-top: 20px;
    padding: 10px 26px;
    font-size: 18px;
    line-height: 22px;
  }
}
.form {
  padding: 82px 0 90px;
  background-color: #000;
}

.form__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__title {
  margin: 0 0 18px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #fff;
}

.form__subtitle {
  margin: 0;
  max-width: 400px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  max-width: 480px;
}

.form__field {
  width: 100%;
}
.form__field:not(:last-of-type) {
  margin-bottom: 20px;
}

.form__input {
  border-radius: 113px;
  padding: 22px 30px;
  width: 100%;
  text-align: center;
}

.form__submit-btn {
  display: inline-block;
  margin-top: 40px;
  border: 2px solid #fff;
  border-radius: 76px;
  padding: 19px 30px;
  width: 270px;
  min-height: 68px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#dfb3ca), to(#937dd1));
  background: -o-linear-gradient(left, #dfb3ca 0%, #937dd1 100%);
  background: linear-gradient(90deg, #dfb3ca 0%, #937dd1 100%);
  cursor: pointer;
}

.form__field-alert {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.success,
.failure {
  position: absolute;
  bottom: -80px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  width: 300px;
  height: 50px;
  background-color: #937dd1;
  border: 2px solid #fff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.success_active,
.failure_active {
  opacity: 1;
  visibility: visible;
}
.success svg,
.failure svg {
  width: 25px;
  height: 25px;
}
.success-text,
.failure-text {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  line-height: 21px;
}

@media (max-width: 768px) {
  .form__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .form__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .form__input {
    padding: 11px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .form__submit-btn {
    padding: 11px 20px;
    width: 172px;
    min-height: 44px;
    font-size: 18px;
    line-height: 22px;
  }

  .form__field-alert {
    font-size: 14px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=main.css.map */