.about {
  padding: 118px 0 32px 0;
  position: relative;

  &-circle-purple {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    right: -470px;
    width: 878px;
    height: 879.02px;
    background: #937dd1;
    filter: blur(300px);
  }

  &-circle-pink {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 588px;
    height: 588px;
    background: #dfb3ca;
    filter: blur(300px);
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 570px auto;
    text-align: left;
  }

  &-information {
    padding-bottom: 30px;
  }

  &-img {
    height: 100%;
    width: 100%;
  }

  &-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 60px;
    line-height: 73px;

    color: #000000;
  }

  &-subtitle {
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
  }

  &-subtitle-min {
    display: none;
  }

  &-descr {
    @include mb(27px);

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-min {
      display: none;
    }

    &:first-child() {
      margin-bottom: 27px;
    }
  }

  &-btn {
    margin-top: 40px;
    padding: 12px 39px;

    background: linear-gradient(90deg, #dfb3ca 0%, #937dd1 100%);
    border-radius: 115px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #ffffff;
  }
}

@media (max-width: 1130px) {
  .about {
    &-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include small-tablet {
  .about {
    &-circle-purple {
      top: 250px;
      left: 50%;
      filter: blur(200px);
      transform: translateX(-50%);
      right: -470px;
      width: 458px;
      height: 458px;
    }
    &-circle-pink {
      display: none;
    }

    padding-top: 7px;
    padding-bottom: 0px;
    &-wrapper {
      grid-template-columns: 1fr;
      place-items: center;
    }
    &-information {
      padding: 20px;
      margin-top: -20px;
      background: #ffffff;
      border-radius: 15px;

      text-align: center;
    }
    &-title {
      display: none;
    }
    &-subtitle {
      font-size: 20px;
    }
    &-btn {
      margin-top: 25px;
    }
  }
}

@include mobile {
  .about {
    &-container {
      padding: 0 15px;
    }
    &-circle-purple {
      top: 30px;
      filter: blur(120px);
    }

    &-information {
      padding: 35px 29px 30px;
      width: 300px;
      border-radius: 15px;
    }
    &-subtitle {
      display: none;
    }
    &-subtitle-min {
      margin-bottom: 20px;

      display: block;
      background: rgba(122, 228, 255, 0.4);
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;

      text-transform: uppercase;

      color: #000000;
    }
    &-descr {
      &-min {
        display: inline;
        &-hide {
          display: none;
        }
      }
      p {
        font-size: 14px;
        line-height: 17px;
      }
    }
    &-btn {
      padding: 10px 32px;
      font-size: 18px;
      line-height: 22px;

      color: #ffffff;
    }
  }
}
