.info {
  position: relative;
  z-index: 1000;
  height: 72px;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  background: #7a9fff;
  &-text {
    display: flex;
    width: 300%;
    margin: 0;
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
    color: #ffffff;

    p {
      margin: 0 30px 0 0;
      animation: 30s info infinite;
    }
  }
}

@include small-tablet {
  .info {
    height: 30px;
    padding: 8px 0;
    &-text {
      font-size: 11px;
      line-height: 13px;
      p {
        margin: 0 15px 0 0;
      }
    }
  }
}
