.reasons {
  position: relative;
  padding: 85px 0 65px;
  &-title {
    text-align: left;
  }
  &-wrapper {
    margin-top: 80px;
    padding: 0 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
  }
  &-circle-purple {
    position: absolute;
    z-index: -1;
    width: 588px;
    height: 588px;

    top: -183px;
    right: -105px;

    background: #937dd1;
    filter: blur(220px);
  }

  &-circle-blue {
    position: absolute;
    z-index: -1;
    width: 588px;
    height: 588px;
    left: -286px;
    bottom: -457px;

    background: #66e6ff;
    filter: blur(220px);
  }
  &-if {
    span {
      padding: 5px;
      background: rgba(147, 125, 209, 0.4);
      border-radius: 76px;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      color: #000000;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 45px;
    &-icon {
      margin-right: 40px;
      width: 35px;
      height: 35px;
    }
    &-info {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
  }
  &-button {
    display: block;
    margin: 36px auto 0;
    padding: 20px 60px;

    background: #000000;
    border: 2px solid #000000;
    border-radius: 76px;

    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: #ffffff;

    cursor: pointer;
  }
}

@include small-tablet {
  .reasons {
    overflow: hidden;
    padding: 50px 0;
    &-wrapper {
      margin-top: 25px;
      padding: 0;
      grid-template-columns: 100%;
    }
    &-circle-purple {
      width: 525px;
      height: 525px;
      left: -286px;
      left: 120px;
      top: 325px;
      filter: blur(130px);
    }
    &-circle-blue {
      width: 458px;
      height: 458px;
      left: -224px;
      top: -264px;
      filter: blur(120px);
    }
    &-if {
      margin-bottom: 30px;
      span {
        font-size: 18px;
        line-height: 22px;
      }
    }
    &-item {
      margin-bottom: 25px;
      &-icon {
        margin-right: 25px;
        width: 21px;
        height: 21px;
      }
      &-info {
        font-size: 14px;
        line-height: 17px;
      }
    }
    &-button {
      margin-top: 20px;
      padding: 10px 26px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
