<section class="about" id="about">
  <div class="about-circle-purple"></div>
  <div class="container about-container">
    <div class="about-wrapper">
      <div>
        <img src="../img/Dori.png" alt="Dori" class="about-img">
        <div class="about-circle-pink"></div>
      </div>
      <div class="about-information">
        <div class="about-title">Дорінелла</div>
        <div class="about-subtitle">Давай знайомитись, я Даріна, сертифікований нутриціолог та
          організаторка курсу.
        </div>
        <div class="about-subtitle-min">Давай знайомитись!</div>
        <div class="about-descr">
          <p class="about-descr-min">
            Я Даріна, сертифікований нутриціолог та організаторка курсу.
            <p>
              Уже 1,5 роки я веду експертний блог на тему харчування та здорового способу життя. Ділюсь пофесійними
              знаннями
              та особистим досвідом, адже змогла подолати РПП та схуднити на 20 кг.
            </p>
            <p>
              Я консультую та займаюсь health коучінгом: розглядаю нездорові стосунки з їжею з точки зору психології та
              нутриціології.
            </p>
            <p class="about-descr-min-hide">
              Переконана, здорове харчування може стати найсмачнішим у твоєму житті. Я створила книгу з 150+ healthy
              рецептами на кожен день.
            </p>
            <p>Просуваю мистецтво “самокохання”, бо важливою є не цифра на вагах, а гармонія зі своїм
              тілом.</p>
        </div>
        <button class="btn-reset about-btn"><a href="#form">Придбати курс</a></button>
      </div>
    </div>
  </div>
</section>
