<section class="charity" id="charity">
  <div class="charity-circle-blue"></div>
  <div class="container">
    <div class="charity-wrapper">
      <div class="title charity-title title--divider title--divider-left"><span>Благодійність</span></div>

      <div class="charity-information">
        Доступ до курсу відкривається за мінімальний донат у розмірі <span>250 гривень</span>. Ти можеш
        надіслати і більше. <br /><br />
        <span>100 % коштів</span> з продажів я перераховую на потреби українських захисників. Звітуюсь на
        акаунті
        <br />
        <a href="https://www.instagram.com/dorinellla/"><span>@dorinellla.</span></a>
      </div>
    </div>
  </div>
</section>
