<section class="form">
  <div class="container form__wrapper">
    <h2 class="form__title">Форма звʼязку</h2>
    <p class="form__subtitle">Після заповнення форми з вами звʼяжеться модератор курсу</p>
    <form class="form__fields" id="form" action="#">
      <div class="form__field">
        <label>
          <input
            class="form__input"
            name="name"
            id="input-name"
            type="text"
            placeholder="Імʼя та Прізвище"
            required
          />
        </label>
        <span class="form__field-alert">form invalid</span>
      </div>
      <div class="form__field">
        <label>
          <input
            class="form__input"
            name="phone"
            id="input-phone"
            type="text"
            placeholder="Номер телефону"
            required
          />
        </label>
      </div>
      <div class="form__field">
        <label>
          <input
            class="form__input"
            name="tg_name"
            id="input-tg-name"
            type="text"
            placeholder="Нік в телеграмі"
            required
          />
        </label>
      </div>
      <button class="form__submit-btn" type="submit">Надіслати!</button>
    </form>
  </div>
</section>
