<header class="header">
  <div class="container header__wrapper">
    <div class="header__layout">
      <a href="#" class="header__logo"></a>
      <button class="burger header__burger" type="button" data-burger>
        <span class="burger__line header__burger__line"></span>
      </button>
      <nav class="header__menu-nav">
        <ul class="list-reset header__menu-list">
          <li class="header__menu-item"><a href="#">Особливості</a></li>
          <li class="header__menu-item"><a href="#">Автор</a></li>
          <li class="header__menu-item"><a href="#">Благодійність</a></li>
          <li class="header__menu-item"><a href="#">Зміст</a></li>
          <li class="header__menu-item"><a href="#">Гості</a></li>
          <li class="header__menu-item"><a href="#">Для кого?</a></li>
        </ul>
      </nav>
      <div class="header__social">
        <a href="#" class="header__social-link header__social-link--tg"
          ><span class="visually-hidden">Telegram</span></a
        >
        <a href="#" class="header__social-link header__social-link--inst"
          ><span class="visually-hidden">Instagram</span></a
        >
      </div>
    </div>
  </div>
</header>
