<section class="hero">
  <div class="circle"></div>
  <div class="container hero__wrapper">
    <div class="hero__content">
      <h2 class="hero__title">Healthup</h2>
      <p class="hero__paragraph">Ми навчимо тебе піклуватися про своє здоров’я в умовах війни.</p>
      <p class="hero__paragraph">Поговоримо про харчування, психічні стани та фізичну активність зараз.</p>
      <p class="hero__paragraph"><span class="hero__paragraph-bold">Тривалість:</span> 9-24 травня.</p>
    </div>
    <button class="hero__button" type="button">Придбати курс</button>
  </div>
</section>
