<section class="program">
  <div class="container">
    <div class="title program-title">Програма</div>
    <div class="divider"></div>
    <div class="program-wrapper">
      <div class="program-card">
        <div class="program-info program-info_active">
          <img src="../img/program/cooking.png" alt="Cooking" class="program-info__img">
          <div class="program-info__header">харчування</div>
          <div class="program-info__button">Детальніше</div>
        </div>
      </div>
      <div class="program-card">
        <div class="program-card-wrapper">
          <div class="program-info program-info_active">
            <img src="../img/program/chill.png" alt="Chill" class="program-info__img">
            <div class="program-info__header">Ментальне здоровʼя</div>
            <div class="program-info__button">Детальніше</div>
          </div>
          <!-- <div class="program-list">
            <div class="program-list-header">МЕНТАЛЬНЕ здоровʼя</div>
            <ul>
              <li>Як побороти нервове переїдання в умовах постійного стресу?
              </li>
              <li>Як не зійти з розуму та вижити під час війни?
              </li>
              <li>Як впоратися з негативними емоціями: тривогою, апатією, злістю та ненавистю?
              </li>
            </ul>
            <button class="program-list__button">Назад</button>
          </div> -->
        </div>
      </div>
      <div class="program-card program-card-top">
        <div class="program-info program-info_active">
          <img src="../img/program/reading.png" alt="Reading" class="program-info__img">
          <div class="program-info__header">самопочуття</div>
          <div class="program-info__button">Детальніше</div>
        </div>
        <!-- <div class="program-list">
          <div class="program-list-header">самопочуття</div>
          <ul>
            <li>7 простих способів бути здоровим
            </li>
            <li>8 способів зняти стрес
            </li>
            <li>Дихальні практики для подолання тривоги та панічних атак
            </li>
            <li>Як компенсувати вплив неякісного сну на здоров’я</li>
            <li>Як повернути здоровий сон у своє життя</li>
          </ul>
          <button class="program-list__button">Назад</button>
        </div> -->
      </div>
      <img src="../img/program/cylinder.png" alt="Cylinder" class="program-cylinder">
      <img src="../img/program/twirl.png" alt="Twirl" class="program-twirl">
      <div class="program-card">
        <div class="program-info program-info_active">
          <img src="../img/program/sport.png" alt="Sport" class="program-info__img">
          <div class="program-info__header">спорт</div>
          <div class="program-info__button">Детальніше</div>
        </div>
        <!-- <div class="program-list">
          <div class="program-list-header">спорт</div>
          <ul>
            <li>Чому фізичні навантаження позитивно впливають на психіку?
            </li>
            <li>Як мінімально підтримувати фізичну активність під час війни
            </li>
            <li>Тренування для рівної осанки
            </li>
            <li>Тренування на збільшення м’язової тканини</li>
          </ul>
          <button class="program-list__button">Назад</button>
        </div> -->
      </div>
    </div>

    <div class="program-alert">
      <div class="program-alert-text">Усі лекції зберігаються у записі та займають до години твого часу.</div>
      <img src="../img/smile-black.png" alt="Smile">
    </div>
</section>
