<section class="reasons" id="reasons">
  <div class="container">
    <div class="title reasons-title title--divider title--divider-left">
      <span>Чи потрібен тобі цей курс?</span>
    </div>
    <div class="reasons-circle-purple"></div>
    <div class="reasons-circle-blue"></div>
    <div class="reasons-wrapper">
      <div class="reasons-if"><span>Так, якщо ти...</span></div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Не знаєш як впоратися з негативними емоціями</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Погано харчуєшся, періодично відчуваєш біль у шлунку</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Швидко набираєш вагу</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Стан твоєї шкіри погіршився</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Відчуваєш тривогу або переживаєш панічні атаки</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Мало рухаєшся та не займаєшся спортом</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Багато часу проводиш за телефоном або ноутом</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Маєш проблеми зі сном</div>
      </div>
      <div class="reasons-item">
        <img src="../img/success.png" alt="Success" class="reasons-item-icon" />
        <div class="reasons-item-info">Хочеш допомогти українській армії</div>
      </div>
    </div>

    <button class="reasons-button"><a href="#form">Придбати курс</a></button>
  </div>
</section>
