<section class="speakers">
  <div class="container">
    <div class="title speakers-title">Запрошені спікери</div>

    <div class="speakers-wrapper">
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Аліна Пузирна</div>
        <div class="speakers-card-descr">Практикуючий психолог. Працює в напрямках когнітивно-поведінкової,
          емоційно-образної
          та арт-терапії.</div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Олександра Кардач</div>
        <div class="speakers-card-descr">Сертифікована йога-інструкторка міжнародного стандарту RYS-100 та RYT-200.
          Авторка онлайн-школи «Твоя Йога».
          Багаторазова учасниця йогічних конференцій та викладачка на йога-фестивалях. </div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Євгенія Кушмирук </div>
        <div class="speakers-card-descr">Консультантка позитивної психотерапії, членкиня Української асоціації
          Позитивної психотерапії, Української спілки психотерапевтів та Асоціації EMDR в Україні.</div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Аня Бондар </div>
        <div class="speakers-card-descr">Консультантка позитивної психотерапії, членкиня Української асоціації
          Позитивної психотерапії, Української спілки психотерапевтів та Асоціації EMDR в Україні.</div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Аня Бондар </div>
        <div class="speakers-card-descr">Психолог</div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Аліна Пузирна</div>
        <div class="speakers-card-descr">Практикуючий психолог. Працює в напрямках
          когнітивно-поведінкової,емоційно-образної та арт-терапії.</div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Олександра Кардач</div>
        <div class="speakers-card-descr">Сертифікована йога-інструкторка міжнародного стандарту RYS-100 та RYT-200.
        </div>
      </div>
      <div class="speakers-card">
        <img src="../img/bulb.png" alt="" class="speakers-img">
        <div class="speakers-card-title">Євгенія Кушмирук </div>
        <div class="speakers-card-descr">Консультантка позитивної психотерапії, членкиня Української асоціації
          Позитивної психотерапії, </div>
      </div>
    </div>
  </div>
</section>
