<section class="unique" id="unique">
  <div class="container unique-container">

    <img src="../img/bulb.png" alt="Bulb" class="unique-bulb">

    <div class="title">У чому унікальність?</div>
    <div class="divider unique-divider"></div>

    <div class="information-wrapper">
      <div class="information-card">
        <img src="../img/face.png" alt="Face" class="information__img">
        <div class="information__title">Менторство</div>
        <div class="information__descr">Ти зможеш регулярно спілкуватися з нутриціологом та психологом у чаті. А
          наприкінці курсу ми розіграємо особисті консультації від експертів.</div>
      </div>
      <div class="information-card">
        <img src="../img/woman.png" alt="Woman" class="information__img">
        <div class="information__title">Live формат</div>
        <div class="information__descr">Експерти будуть проживати з тобою свій день у телеграмі, проводити Q&A сесії та
          мотивувати виконувати оздоровчі практики.</div>
      </div>
      <div class="information-card">
        <img src="../img/yoga.png" alt="Yoga" class="information__img">
        <div class="information__title">ПРАКТИЧНИЙ ПІДХІД</div>
        <div class="information__descr">
          Курс охоплює 4 сфери і на 80% складається з практичних порад.
          <br><br>
          Їхня ефективність перевірена на особистому досвіді спікерів.
        </div>
      </div>
      <div class="information-card">
        <img src="../img/hands.png" alt="Hands" class="information__img">
        <div class="information__title">Актуальність</div>
        <div class="information__descr">На курсі ми ділимося знаннями, що допомогають покращувати емоційний та фізичний
          стан у воєнний час. </div>
      </div>
      <div class="information-card">
        <img src="../img/biceps.png" alt="Biceps" class="information__img">
        <div class="information__title">ВКЛАД У ПЕРЕМОГУ</div>
        <div class="information__descr">Всі кошти з продажів йдуть на потреби українських захисників.</div>
      </div>

      <div class="purple-box">
        <img src="../img/smile.png" alt="Smile" class="purple-box__img">
        <div class="purple-box__descr">
          Скоро відбудовувати Україну!
          <br><br>
          Міцне здоров’я точно не завадить.</div>
      </div>
    </div>
  </div>
</section>
